.kaffe-meny {
  text-align: center;
  padding: 20px 10px; 
}

.kaffe-meny h2 {
  font-size: 2rem;
  margin-bottom: 10px; 
}

.meny-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; 
  justify-items: stretch; 
  max-width: 1100px;
  margin: 0 auto; 
}

.kaffe-ruta {
  background: #c19a8ba5;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgb(66, 49, 49);
  padding: 15px 10px;
  width: 100%; 
  box-sizing: border-box; 
  transition: all 0.25s ease;
  font-size: 1.2rem;
  color: #333;
}

.kaffe-ruta:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}



.kaffe-ruta p {
  font-size: 1rem;
  color: #666;
}

