h1, h2, h3 {
    text-align: center;
    font-size: 28;
}

img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slideshow-container img {
  width: 400px;   /* ändra till den storlek du vill */
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Vertikal centering */
  text-align: center; 
  gap: 20px;             /* Avstånd mellan text och bild */
  margin-bottom: 40px;   /* Avstånd under presentationen */
}

.intro-bild {
  flex: 1;               /* Tar upp kvarvarande utrymme */
}

.intro-image img {
  width: 250px;           /* Anpassa storleken */
  height: auto;
  border-radius: 10px;    /* Valfritt, rundade hörn */
}
