
img {
  display: block;
  max-width: 50%;
  height: auto;
  margin: 1rem auto;
  border-radius: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

img:hover {
  transform: scale(1.05);
}

.slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slideshow-container img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}



.intro-bild img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}
